.guess-game-title {
  color: #fedc5e;
  font-size: 80px;
}
.input-title {
  color: #a28fc6;
}
.policy-msg {
  color: #b22222;
  font-size: 20px;
}
button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px;
  border-radius: 5px;
}

.res-msg {
  color: #b22222;
}
