body {
  font-family: sans-serif;
}

#logout-btn {
  background-color: #4caf50;
  color: white;
}

#login-btn {
  background-color: blueviolet;
  color: white;
}

#change-btn {
  background-color: lightseagreen;
  color: white;
}
#change-word-label {
  color: red;
}
