body {
  font-family: sans-serif;
}
div {
  margin: auto;
}
#grocery-app {
  max-width: 500px;
  height: 300px;
  margin: 1rem auto;
  border: 2px solid black;
  padding: 1rem;
  background-color: #d8bfd8;
  overflow: scroll;
}
input,
button {
  padding: 6px;
}
.itemDetail {
  margin: 2px;
}
li:hover {
  background-color: #9370db;
}
.delete-item {
  color: #b22222;
}
#error-msg {
  display: none;
  color: #b22222;
}
