.form-container{
  max-width: 750px;
  max-height:700px;
  width:100%;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  padding: 25px 30px;
  border-radius: 5px;
  display:grid;
  justify-content: center;
  align-items: center;
  margin: 80px auto ;
}

.form-container .travelSpot-form h1{
  font-size: 25px;
  font-weight: 500;
}

.form-container .travelSpot-form .success{
  color:#08ffd1;
}

.form-container .travelSpot-form .form-detail{
   margin: 5px;
   padding: 10px;
}

.form-container .travelSpot-form .form-detail .form-field{
  width:300px;
}

.form-container .travelSpot-form .form-detail label{
  text-align: right;
  float:left;
  width:100px;
}

.form-container .travelSpot-form .form-textarea label{
  float:left;
  text-align: right;
  width:100px;
}

.form-container .travelSpot-form .form-textarea .form-field{
  width:300px;
  height:100px;
  margin: 10px;
}

.form-container .travelSpot-form .form-detail .form-error{
  color:#b22222;
}

.form-container .travelSpot-form .form-textarea .form-error{
  color:#b22222;
}

.form-container .travelSpot-form .add{
  margin: auto;
  display: flex;
  background-color: #08ffd1;
  padding: 10px 20px;
}

